
.App {
	text-align: center;
	background: rgb(255, 173, 65);
	width: 100pc;
	height: 100pc;
}
  
  
  .App-logo {
	height: 40vmin;
	pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
	.App-logo {
	  animation: App-logo-spin infinite 20s linear;
	  
	}
  }
  .task {
	display:flex;
	justify-content:center;



  }